body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerHome {
  display: flex;
  justify-content: space-around;
  background-color: rgb(43, 63, 248);
  align-items: center;
  gap: 10px;
  position: sticky;
  top: 0px;

}

.headerHome>.NavHome {
  gap: 30px;

}

.logo {
  width: 28vh;
  border-radius: 4px;
  filter: grayscale(6);
}

.ancla {
  text-decoration: none;
  color: white;
  font-size: 26px;
  font-family: cursive;

}

.ancla:hover {
  background-color: rgb(169, 13, 16);
  border-radius: 3px;
  font-size: 27px;
  padding: 0.5px 0px;
}

.NavHome {
  display: flex;
  justify-content: flex-end;
}

.action {
  text-align: center;
}

.content {
  color: red;
  font-size: 80px;
}

.add {
  font-size: 80px;
  margin: 7px;
  border: 0px transparent;
  box-shadow: 0px 0px 10px black;
  cursor: grab;
  border-radius: 10px;
}

.add:hover {
  font-size: 78px;
  box-shadow: 0px 0px 10px black;
  border-radius: 15px;
  padding: 3px;
  box-shadow: 0px 0px 10px rgb(253, 253, 253);
  cursor: grabbing;
}

.title_count {
  color: rgb(247, 241, 241);
  text-shadow: 0px 0px 10px black;
  font-family: cursive;
  font-size: 80px;

}

.dar-mode {
  background-color: black;
  color: red;
}

.light-mode {
  background-color: white;

}

.theme {
  display: flex;
  margin-left: 90px;
  list-style: lower-latin;
  color: black;
  gap: 6px;
  margin-top: 50px;
  align-items: center;
}

.cont {
  margin: 0;
  padding: 0;
  display: flex;
  color: red;
}



.conter_car {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


}

.conter_car .car {
  text-align: center;
  width: 20rem;
  height: 27rem;
  box-shadow: 0 0 25px rgb(43, 63, 248);
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  gap: 8px;

}

.img-card {
  width: 100%;
  height: 50%;
  border-radius: 15px 15px 0 0;
  object-fit: unset;
}

.name-card {
  font-size: 3rem;
  color: rgb(43, 63, 248);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 2rem;
}

.div_iterator {
  width: 70%;
  height: 40px;
  border-radius: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 35px;
  box-shadow: 0 0 25px rgb(43, 63, 248);

}


.conte_input {
  text-align: center;
  margin-top: 40px;
  position: sticky;
  top: 70px;
}

.content-father {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: cursive;

}

.title-form {
  text-align: center;
  text-shadow: 0px 0px 8px white;
  font-size: 50px;
}

.div-formulario {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(78, 155, 255);
  width: 30%;
  height: 26vw;
  align-items: center;
  background-color: rgb(216, 213, 213);
  border-radius: 40px;
  padding: 10px;

}

.form-email {
  margin-top: 2%;
}

.input-name {
  width: 90%;
  height: 22px;
}

.carta {
  border-radius: 27%;

}